h1{
  position: absolute;
  // top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  color: #B7132C;
}


body{
    padding-top: 75px;
  }
  
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 106%;
    height: 45px;
    margin-top: 63px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -40px;
    right: -45px;
  }
  
table{
    margin-top: 200px;
    margin: auto;
    width: 85%;
    padding: 10px;
    margin-top: 39px;
}

.container {
  position: relative;
  border: 3px solid orange;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}
  
.btn{
  background-color: #B7132C;
  color: white;
} 