<div>
    <img class="background" src="../assets/cpc-img.jpg">        
</div>

<div class="container">
    <div class="center">
        <img class="logo" src="../assets/cpc-logo.png">
        <h1>National Fuel Distribution System</h1>
        <div class="centerbtn">
        <div class="button">
            <button class='btn-sec' routerLink="/orderFuel">ORDER NOW</button>
            <div class="space"></div>
            <button class='btn-sec' routerLink="/customers">FUEL DISTRIBUTION LISTS</button>
        </div>
    </div>
    </div>
  </div>

