<div class="navbars">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B7132C;">
    <a class="navbar-brand mb-0 h1" routerLink="/home">FUEL DISTRIBUTION SYSTEM</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orderFuel" >ORDER FUEL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orderStatus">ORDER STATUS</a>
      </li>      
    </div>
  </nav>
</div>


  <div>
    <router-outlet></router-outlet>
  </div>


  <!-- Footer
  <footer>
    Developed By&nbsp;
    <a href="https://github.com/Praveen-Fernando/Krish-fullstack-training" target="_blank" rel="noopener"> Praveen Fernando.</a>
  </footer> -->

<!-- </div> -->