<div class="table">
    <h1>Fuel Distribution List</h1>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>Fuel Station Name</th>
                    <th>Fuel Station Number</th>
                    <th>Fuel Type</th>
                    <th>Fuel Capasity</th>
                    <th>Delivery Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.fuelStationName}}</td>
                    <td>{{order.fuelStationNumber}}</td>
                    <td>{{order.fuelType}}</td>
                    <td>{{order.reservedFuelAmount}}</td>
                    <td>{{order.deliveryDate}}</td>
                    <td>{{order.scheduleStatus}}</td>
                   
                    </tr>
            </tbody>
        </table>
    </div>
</div>