<div class="table">
    <h1>Fuel Distribution List</h1>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>Fuel Station Name</th>
                    <th>Fuel Station Number</th>
                    <th>Fuel Capasity</th>
                    <th>Fuel Type</th>
                    <th>Delivery Date</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td> -->
                   
                    <!-- </tr> -->
            </tbody>
        </table>
    </div>
</div>