<!-- <!-- <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>Fuel Station Number</th>
                <th>Fuel Capasity</th>
                <th>Fuel Type</th>
                <th>Order Status</th>
                <th>Dispatch Status</th>
                <th>Order Received</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td>{{Fuel.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.insuranceBalance| </td>
                <<td>{{employee.rbtProgress}}</td> -->
               
                <!-- </tr> -->
        <!-- </tbody>
    </table>
</div>  --> 